
<br />
<div class="comment-top">
						<h4>Leave a Comment</h4>
						<div class="comment-bottom">
							<form action="~/Comment/CommentAddAction/" method="post">
								<br />
								<input class="form-control" type="text" name="CommentTitle" placeholder="Name" required="">
								<br />
								<textarea class="form-control"  name="CommentContent" placeholder="Name" required=""> </textarea>
								<br />
					
						
								<button type="submit" class="btn btn-primary submit">Submit</button>
							</form>
						</div>
					</div>